Package: com.tivoremote.tivoremote
Name: TiVoRemote
Version: 0.24-1
Architecture: iphoneos-arm
Description: Control your TiVoHD and Series 3 TiVo with your iPhone/iPod Touch
Homepage: http://tivoremote.googlecode.com
Maintainer: Dustin Puckett <banterbanter@gmail.com>
Author: Dustin Puckett <banterbanter@gmail.com>
Section: Toys
